[Desktop Entry]
Type=Application
Exec=/bin/python /home/pi/macro_stand/initial.py && /bin/python /home/pi/macro_stand/gphoto.py
Icon=/home/pi/macro_stand/camera.png
Terminal=true
Name=GetPhoto
Name[ru]=GetPhoto
Comment=Comment
Comment[ru]=Комментарий
